* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: rgb(60,60,60);
    height: 100%;
    margin: 0;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    height: calc(100% - 20px);
    align-items: center;
    margin: 10px;
    overflow-y: auto;
    padding-right: 140px;
    width: calc(100vw - 20px);
}

h1 {
    margin: .67em 10px;
}

.index {
    border-image: linear-gradient(
            0deg, 
            transparent 1%, 
            rgb(60,60,60) 20%, 
            rgb(60,60,60) 80%, 
            transparent 99%
        ) 1;
    border-style: solid;
    border-width: 0 0 0 1px;
    justify-self: center;
    text-transform: uppercase;
    position: fixed;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}

.index > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.index > ul > li {
    display: block;
}


.index .index-item {
    background: url('../img/bullet.svg') left center no-repeat;
    background-size: auto 15px;
    color: rgb(60,60,60);
    margin: 45px 0;
    margin-left: -8px;
    padding-left: 20px;
}

.index .index-item.active {
    background-image: url('../img/scroll.svg');
    background-size: auto 36px;
    color: rgb(0,0,0);
    font-weight: bolder;
    height: 36px;
    line-height: 36px;
    margin-left: -12px;
    padding-left: 24px;
}

.index .index-item a,
.index .index-item a:visited {
    color: rgb(60,60,60);
    text-decoration: none;
    transition: 0.2s linear;
}

.index .index-item a:hover {
    color: rgb(0,0,0);
}


.content {
    margin: 10px;
}





@media (max-width: 750px) {
    body {
        font-size: 0.8em;
        height: calc(100% - 10px);
        margin: 5px;
        width: calc(100vw - 10px);
    }

    @media (orientation: portrait) {
        body {
            padding-right: 45px;
        }
    
        .index {
            border-image: linear-gradient(
                90deg, 
                transparent 1%, 
                rgb(60,60,60) 20%, 
                rgb(60,60,60) 80%, 
                transparent 99%
            ) 1;
            border-width: 0 0 1px 0;
            font-size: 0.7em;
            right: 15px;
            text-align: center;
            transform: rotate(90deg) translateX(50%);
            transform-origin: 100% 0;
            white-space:nowrap;
        }
    
        .index .index-item {
            background-position: center bottom;
            background-size: auto 13px;
            display: inline-block;
            margin: 0 20px -7px;
            padding: 0 0 18px;
        }
    
        .index .index-item.active {
            background: none;
            position: relative;
            height: auto;
            line-height: initial;
        }
    
        .index .index-item.active::before {
            background: url('../img/scroll.svg') bottom center no-repeat;
            background-size: auto 35px;
            content: "";
            left: 40%;
            height: 35px;
            position: absolute;
            top: 5px;
            transform: rotate(-90deg);
            width: 35px;
            z-index: -1;
        }
    }

    @media (orientation: landscape) {
        body {
            padding-right: 80px;
        }
    
        .index {
            font-size: 0.7em;
            right: 15px;
        }

        .index .index-item {
            background-size: auto 11px;
            margin-bottom: 25px;
            margin-left: -6px;
            margin-top: 25px;
            padding-left: 15px;
        }

        .index .index-item.active {
            background-size: auto 25px;
            height: 25px;
            line-height: 25px;
            margin-left: -8px;
            padding-left: 17px;
        }
    }
    
}